* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #000 url("../img/bg1.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.contenedor {
  margin: auto;
  width: 90%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor header {
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  border-radius: 4px 4px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .contenedor header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
}

.contenedor header .logo {
  color: #fff;
  font-size: 22px;
}

@media screen and (max-width: 600px) {
  .contenedor header .logo {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .contenedor header .menu {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
}

.contenedor header .menu a {
  color: #fff;
  text-decoration: none;
  margin-right: 40px;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .contenedor header .menu a {
    margin: 0 10px;
  }
}

.contenedor header .menu a:hover {
  text-decoration: underline;
}

.contenedor .main {
  background: #fff;
  padding: 20px;
  width: 70%;
}

@media screen and (max-width: 800px) {
  .contenedor .main {
    width: 100%;
  }
}

.contenedor .main article .thumb {
  margin-bottom: 20px;
}

.contenedor .main article .thumb img {
  width: 100%;
  vertical-align: top;
}

.contenedor .main article h2 {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 32px;
}

.contenedor .main article p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 27px;
}

.contenedor aside {
  width: 30%;
  background: #537dca;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .contenedor aside {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 400px) {
  .contenedor aside {
    display: none;
  }
}

.contenedor aside .ad {
  font-size: 30px;
  text-align: center;
  color: #fff;
  padding: 50px 0;
  background: #4264a2;
}

@media screen and (max-width: 800px) {
  .contenedor aside .ad {
    width: 40%;
  }
}

.contenedor footer {
  margin: 0;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  width: 100%;
  color: #fff;
  border-radius: 0 0 4px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .contenedor footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .contenedor footer .autor {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 600px) {
  .contenedor footer .redes-sociales {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 20px;
  }
}

.contenedor footer .redes-sociales a {
  color: #fff;
  text-decoration: underline;
  margin-left: 20px;
}

.contenedor footer .redes-sociales a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=estilos.css.map */